@font-face {
    font-family: "nanumBrush";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumBrush/nanumBrush.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumBrush/nanumBrush.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumBrush/nanumBrush.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumBrush/nanumBrush.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumBrush/nanumBrush.ttf") format("truetype");
    font-display: swap;
}
.nanumBrush {
    font-family: "nanumBrush";
}